<?xml version="1.0"?>
<robot name="go1" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="mat0"><color rgba="0.03 0.03 0.03 1"/></material>
  <link name="base_link">
    <inertial><origin xyz="0.0223 0.002 -0.0005" rpy="-0.715765067 -1.56367408 -2.4208388"/><mass value="5.204"/><inertia ixx="0.0716565" iyy="0.0630105" izz="0.0168101" ixy="0" ixz="0" iyz="0"/></inertial>
    <visual><origin xyz="0.0645661316 -1.78931856e-07 0.000888618573" rpy="3.63531383e-06 -1.55655909 -3.14159265"/><geometry><mesh filename="package://go_description/meshes/trunk.stl"/></geometry><material name="mat0"/></visual>
    <collision><origin xyz="0 0 0" rpy="0 -0 0"/><geometry><box size="0.25 0.08 0.114"/></geometry></collision>
    <collision><origin xyz="0 -0.04 0" rpy="0 1.57079633 0"/><geometry><cylinder radius="0.058" length="0.25"/></geometry></collision>
    <collision><origin xyz="0 0.04 0" rpy="0 1.57079633 0"/><geometry><cylinder radius="0.058" length="0.25"/></geometry></collision>
    <collision><origin xyz="0.25 0 0" rpy="0 -0 0"/><geometry><box size="0.01 0.12 0.1"/></geometry></collision>
    <collision><origin xyz="0.25 0.06 -0.01" rpy="0 -0 0"/><geometry><cylinder radius="0.009" length="0.07"/></geometry></collision>
    <collision><origin xyz="0.25 0.06 0.025" rpy="0 -0 0"/><geometry><sphere radius="0.009"/></geometry></collision>
    <collision><origin xyz="0.25 0.06 -0.045" rpy="0 -0 0"/><geometry><sphere radius="0.009"/></geometry></collision>
    <collision><origin xyz="0.25 -0.06 -0.01" rpy="0 -0 0"/><geometry><cylinder radius="0.009" length="0.07"/></geometry></collision>
    <collision><origin xyz="0.25 -0.06 0.025" rpy="0 -0 0"/><geometry><sphere radius="0.009"/></geometry></collision>
    <collision><origin xyz="0.25 -0.06 -0.045" rpy="0 -0 0"/><geometry><sphere radius="0.009"/></geometry></collision>
    <collision><origin xyz="0.25 0 -0.05" rpy="1.57079633 -0 0"/><geometry><cylinder radius="0.01" length="0.12"/></geometry></collision>
    <collision><origin xyz="0.25 -0.06 -0.05" rpy="1.57079633 -0 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0.25 0.06 -0.05" rpy="1.57079633 -0 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0.255 0 0.0355" rpy="1.57079633 -0 0"/><geometry><cylinder radius="0.021" length="0.104"/></geometry></collision>
    <collision><origin xyz="0.255 -0.052 0.0355" rpy="1.57079633 -0 0"/><geometry><sphere radius="0.021"/></geometry></collision>
    <collision><origin xyz="0.255 0.052 0.0355" rpy="1.57079633 -0 0"/><geometry><sphere radius="0.021"/></geometry></collision>
  </link>
  <link name="FR_hip">
    <inertial><origin xyz="-0.0049166 0.00762615 -8.865e-05" rpy="1.58964063 0.00571985188 1.52725266"/><mass value="0.68"/><inertia ixx="0.000734064" iyy="0.000468438" izz="0.000398719" ixy="0" ixz="0" iyz="0"/></inertial>
    <visual><origin xyz="-0.012875065 -0.00177778019 -1.96029393e-07" rpy="9.42566195e-05 6.97197677e-06 1.57937134"/><geometry><mesh filename="package://go_description/meshes/hip.stl"/></geometry><material name="mat0"/></visual>
    <collision><origin xyz="0 -0.045 0" rpy="1.57079633 -0 0"/><geometry><cylinder radius="0.046" length="0.04"/></geometry></collision>
    <collision><origin xyz="0 -0.065 0" rpy="1.57079633 -0 0"/><geometry><cylinder radius="0.031" length="0.04"/></geometry></collision>
  </link>
  <link name="FR_thigh">
    <inertial><origin xyz="-0.00304722 0.019315 -0.0305004" rpy="0.0821867018 0.142657586 1.72004797"/><mass value="1.009"/><inertia ixx="0.00478717" iyy="0.00460903" izz="0.000709268" ixy="0" ixz="0" iyz="0"/></inertial>
    <visual><origin xyz="-0.00429046215 0.0220906298 -0.0464272199" rpy="0.119650763 0.158970461 1.92483277"/><geometry><mesh filename="package://go_description/meshes/thigh_mirror.stl"/></geometry><material name="mat0"/></visual>
    <collision><origin xyz="-0.02 0 -0.08" rpy="0 -0 0"/><geometry><cylinder radius="0.015" length="0.16"/></geometry></collision>
    <collision><origin xyz="-0.02 0 0" rpy="0 -0 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.02 0 -0.16" rpy="0 -0 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.01 0 -0.05" rpy="0 0.19739556 0"/><geometry><cylinder radius="0.015" length="0.10198039"/></geometry></collision>
    <collision><origin xyz="1.73472348e-18 0 0" rpy="0 0.19739556 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.02 0 -0.1" rpy="0 0.19739556 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.01 0 -0.18" rpy="0 -0.463647609 0"/><geometry><cylinder radius="0.015" length="0.0447213595"/></geometry></collision>
    <collision><origin xyz="-0.02 0 -0.16" rpy="0 -0.463647609 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="1.73472348e-18 0 -0.2" rpy="0 -0.463647609 0"/><geometry><sphere radius="0.015"/></geometry></collision>
  </link>
  <link name="FR_calf">
    <inertial><origin xyz="0.00429862 0.000976676 -0.146197" rpy="0.0123288935 0.00190011236 1.61514249"/><mass value="0.195862"/><inertia ixx="0.00149767" iyy="0.00148468" izz="3.58427e-05" ixy="0" ixz="0" iyz="0"/></inertial>
    <visual><origin xyz="0.00678684102 -9.16953812e-07 -0.124724916" rpy="-0.0124321816 -1.36580787e-05 1.57080985"/><geometry><mesh filename="package://go_description/meshes/calf.stl"/></geometry><material name="mat0"/></visual>
    <collision><origin xyz="0.01 0 -0.065" rpy="0 -0.152649328 0"/><geometry><cylinder radius="0.01" length="0.131529464"/></geometry></collision>
    <collision><origin xyz="0 0 0" rpy="0 -0.152649328 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0.02 0 -0.13" rpy="0 -0.152649328 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0.01 0 -0.165" rpy="0 0.278299659 0"/><geometry><cylinder radius="0.01" length="0.0728010989"/></geometry></collision>
    <collision><origin xyz="0.02 0 -0.13" rpy="0 0.278299659 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="1.73472348e-18 0 -0.2" rpy="0 0.278299659 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0 0 -0.213" rpy="0 -0 0"/><geometry><sphere radius="0.023"/></geometry></collision>
  </link>
  <link name="FL_hip">
    <inertial><origin xyz="-0.0049166 -0.00762615 -8.865e-05" rpy="1.58964063 -0.00571985188 1.61434"/><mass value="0.68"/><inertia ixx="0.000734064" iyy="0.000468438" izz="0.000398719" ixy="0" ixz="0" iyz="0"/></inertial>
    <visual><origin xyz="-0.012875065 -0.00177778019 -1.96029393e-07" rpy="9.42566195e-05 6.97197677e-06 1.57937134"/><geometry><mesh filename="package://go_description/meshes/hip.stl"/></geometry><material name="mat0"/></visual>
    <collision><origin xyz="0 0.045 0" rpy="1.57079633 -0 0"/><geometry><cylinder radius="0.046" length="0.04"/></geometry></collision>
    <collision><origin xyz="0 0.065 0" rpy="1.57079633 -0 0"/><geometry><cylinder radius="0.031" length="0.04"/></geometry></collision>
  </link>
  <link name="FL_thigh">
    <inertial><origin xyz="-0.00304722 -0.019315 -0.0305004" rpy="0.0821867018 -0.142657586 1.42154468"/><mass value="1.009"/><inertia ixx="0.00478717" iyy="0.00460903" izz="0.000709268" ixy="0" ixz="0" iyz="0"/></inertial>
    <visual><origin xyz="-0.00357368468 -0.0236116487 -0.0410303768" rpy="0.101927289 -0.152005854 1.25447756"/><geometry><mesh filename="package://go_description/meshes/thigh.stl"/></geometry><material name="mat0"/></visual>
    <collision><origin xyz="-0.02 0 -0.08" rpy="0 -0 0"/><geometry><cylinder radius="0.015" length="0.16"/></geometry></collision>
    <collision><origin xyz="-0.02 0 0" rpy="0 -0 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.02 0 -0.16" rpy="0 -0 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.01 0 -0.05" rpy="0 0.19739556 0"/><geometry><cylinder radius="0.015" length="0.10198039"/></geometry></collision>
    <collision><origin xyz="1.73472348e-18 0 0" rpy="0 0.19739556 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.02 0 -0.1" rpy="0 0.19739556 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.01 0 -0.18" rpy="0 -0.463647609 0"/><geometry><cylinder radius="0.015" length="0.0447213595"/></geometry></collision>
    <collision><origin xyz="-0.02 0 -0.16" rpy="0 -0.463647609 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="1.73472348e-18 0 -0.2" rpy="0 -0.463647609 0"/><geometry><sphere radius="0.015"/></geometry></collision>
  </link>
  <link name="FL_calf">
    <inertial><origin xyz="0.00429862 0.000976676 -0.146197" rpy="0.0123288935 0.00190011236 1.61514249"/><mass value="0.195862"/><inertia ixx="0.00149767" iyy="0.00148468" izz="3.58427e-05" ixy="0" ixz="0" iyz="0"/></inertial>
    <visual><origin xyz="0.00678684102 -9.16953812e-07 -0.124724916" rpy="-0.0124321816 -1.36580787e-05 1.57080985"/><geometry><mesh filename="package://go_description/meshes/calf.stl"/></geometry><material name="mat0"/></visual>
    <collision><origin xyz="0.01 0 -0.065" rpy="0 -0.152649328 0"/><geometry><cylinder radius="0.01" length="0.131529464"/></geometry></collision>
    <collision><origin xyz="0 0 0" rpy="0 -0.152649328 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0.02 0 -0.13" rpy="0 -0.152649328 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0.01 0 -0.165" rpy="0 0.278299659 0"/><geometry><cylinder radius="0.01" length="0.0728010989"/></geometry></collision>
    <collision><origin xyz="0.02 0 -0.13" rpy="0 0.278299659 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="1.73472348e-18 0 -0.2" rpy="0 0.278299659 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0 0 -0.213" rpy="0 -0 0"/><geometry><sphere radius="0.023"/></geometry></collision>
  </link>
  <link name="RR_hip">
    <inertial><origin xyz="0.0049166 0.00762615 -8.865e-05" rpy="1.55195202 0.00571985188 1.61434"/><mass value="0.68"/><inertia ixx="0.000734064" iyy="0.000468438" izz="0.000398719" ixy="0" ixz="0" iyz="0"/></inertial>
    <visual><origin xyz="0.012875065 0.00177778019 -1.96029393e-07" rpy="9.42566195e-05 6.97197677e-06 -1.56222132"/><geometry><mesh filename="package://go_description/meshes/hip.stl"/></geometry><material name="mat0"/></visual>
    <collision><origin xyz="0 -0.045 0" rpy="1.57079633 -0 0"/><geometry><cylinder radius="0.046" length="0.04"/></geometry></collision>
    <collision><origin xyz="0 -0.065 0" rpy="1.57079633 -0 0"/><geometry><cylinder radius="0.031" length="0.04"/></geometry></collision>
    <collision><origin xyz="0 0 0" rpy="1.57079633 -0 0"/><geometry><cylinder radius="0.046" length="0.04"/></geometry></collision>
  </link>
  <link name="RR_thigh">
    <inertial><origin xyz="-0.00304722 0.019315 -0.0305004" rpy="0.0821867018 0.142657586 1.72004797"/><mass value="1.009"/><inertia ixx="0.00478717" iyy="0.00460903" izz="0.000709268" ixy="0" ixz="0" iyz="0"/></inertial>
    <visual><origin xyz="-0.00429046215 0.0220906298 -0.0464272199" rpy="0.119650763 0.158970461 1.92483277"/><geometry><mesh filename="package://go_description/meshes/thigh_mirror.stl"/></geometry><material name="mat0"/></visual>
    <collision><origin xyz="-0.02 0 -0.08" rpy="0 -0 0"/><geometry><cylinder radius="0.015" length="0.16"/></geometry></collision>
    <collision><origin xyz="-0.02 0 0" rpy="0 -0 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.02 0 -0.16" rpy="0 -0 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.01 0 -0.05" rpy="0 0.19739556 0"/><geometry><cylinder radius="0.015" length="0.10198039"/></geometry></collision>
    <collision><origin xyz="1.73472348e-18 0 0" rpy="0 0.19739556 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.02 0 -0.1" rpy="0 0.19739556 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.01 0 -0.18" rpy="0 -0.463647609 0"/><geometry><cylinder radius="0.015" length="0.0447213595"/></geometry></collision>
    <collision><origin xyz="-0.02 0 -0.16" rpy="0 -0.463647609 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="1.73472348e-18 0 -0.2" rpy="0 -0.463647609 0"/><geometry><sphere radius="0.015"/></geometry></collision>
  </link>
  <link name="RR_calf">
    <inertial><origin xyz="0.00429862 0.000976676 -0.146197" rpy="0.0123288935 0.00190011236 1.61514249"/><mass value="0.195862"/><inertia ixx="0.00149767" iyy="0.00148468" izz="3.58427e-05" ixy="0" ixz="0" iyz="0"/></inertial>
    <visual><origin xyz="0.00678684102 -9.16953812e-07 -0.124724916" rpy="-0.0124321816 -1.36580787e-05 1.57080985"/><geometry><mesh filename="package://go_description/meshes/calf.stl"/></geometry><material name="mat0"/></visual>
    <collision><origin xyz="0.01 0 -0.065" rpy="0 -0.152649328 0"/><geometry><cylinder radius="0.01" length="0.131529464"/></geometry></collision>
    <collision><origin xyz="0 0 0" rpy="0 -0.152649328 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0.02 0 -0.13" rpy="0 -0.152649328 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0.01 0 -0.165" rpy="0 0.278299659 0"/><geometry><cylinder radius="0.01" length="0.0728010989"/></geometry></collision>
    <collision><origin xyz="0.02 0 -0.13" rpy="0 0.278299659 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="1.73472348e-18 0 -0.2" rpy="0 0.278299659 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0 0 -0.213" rpy="0 -0 0"/><geometry><sphere radius="0.023"/></geometry></collision>
  </link>
  <link name="RL_hip">
    <inertial><origin xyz="0.0049166 -0.00762615 -8.865e-05" rpy="1.55195202 -0.00571985188 1.52725266"/><mass value="0.68"/><inertia ixx="0.000734064" iyy="0.000468438" izz="0.000398719" ixy="0" ixz="0" iyz="0"/></inertial>
    <visual><origin xyz="0.012875065 -0.00177778019 1.96029393e-07" rpy="-3.1414984 -6.97197677e-06 1.56222132"/><geometry><mesh filename="package://go_description/meshes/hip.stl"/></geometry><material name="mat0"/></visual>
    <collision><origin xyz="0 0.045 0" rpy="1.57079633 -0 0"/><geometry><cylinder radius="0.046" length="0.04"/></geometry></collision>
    <collision><origin xyz="0 0.065 0" rpy="1.57079633 -0 0"/><geometry><cylinder radius="0.031" length="0.04"/></geometry></collision>
    <collision><origin xyz="0 0 0" rpy="1.57079633 -0 0"/><geometry><cylinder radius="0.046" length="0.04"/></geometry></collision>
  </link>
  <link name="RL_thigh">
    <inertial><origin xyz="-0.00304722 -0.019315 -0.0305004" rpy="0.0821867018 -0.142657586 1.42154468"/><mass value="1.009"/><inertia ixx="0.00478717" iyy="0.00460903" izz="0.000709268" ixy="0" ixz="0" iyz="0"/></inertial>
    <visual><origin xyz="-0.00357368468 -0.0236116487 -0.0410303768" rpy="0.101927289 -0.152005854 1.25447756"/><geometry><mesh filename="package://go_description/meshes/thigh.stl"/></geometry><material name="mat0"/></visual>
    <collision><origin xyz="-0.02 0 -0.08" rpy="0 -0 0"/><geometry><cylinder radius="0.015" length="0.16"/></geometry></collision>
    <collision><origin xyz="-0.02 0 0" rpy="0 -0 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.02 0 -0.16" rpy="0 -0 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.01 0 -0.05" rpy="0 0.19739556 0"/><geometry><cylinder radius="0.015" length="0.10198039"/></geometry></collision>
    <collision><origin xyz="1.73472348e-18 0 0" rpy="0 0.19739556 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.02 0 -0.1" rpy="0 0.19739556 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="-0.01 0 -0.18" rpy="0 -0.463647609 0"/><geometry><cylinder radius="0.015" length="0.0447213595"/></geometry></collision>
    <collision><origin xyz="-0.02 0 -0.16" rpy="0 -0.463647609 0"/><geometry><sphere radius="0.015"/></geometry></collision>
    <collision><origin xyz="1.73472348e-18 0 -0.2" rpy="0 -0.463647609 0"/><geometry><sphere radius="0.015"/></geometry></collision>
  </link>
  <link name="RL_calf">
    <inertial><origin xyz="0.00429862 0.000976676 -0.146197" rpy="0.0123288935 0.00190011236 1.61514249"/><mass value="0.195862"/><inertia ixx="0.00149767" iyy="0.00148468" izz="3.58427e-05" ixy="0" ixz="0" iyz="0"/></inertial>
    <visual><origin xyz="0.00678684102 -9.16953812e-07 -0.124724916" rpy="-0.0124321816 -1.36580787e-05 1.57080985"/><geometry><mesh filename="package://go_description/meshes/calf.stl"/></geometry><material name="mat0"/></visual>
    <collision><origin xyz="0.01 0 -0.065" rpy="0 -0.152649328 0"/><geometry><cylinder radius="0.01" length="0.131529464"/></geometry></collision>
    <collision><origin xyz="0 0 0" rpy="0 -0.152649328 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0.02 0 -0.13" rpy="0 -0.152649328 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0.01 0 -0.165" rpy="0 0.278299659 0"/><geometry><cylinder radius="0.01" length="0.0728010989"/></geometry></collision>
    <collision><origin xyz="0.02 0 -0.13" rpy="0 0.278299659 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="1.73472348e-18 0 -0.2" rpy="0 0.278299659 0"/><geometry><sphere radius="0.01"/></geometry></collision>
    <collision><origin xyz="0 0 -0.213" rpy="0 -0 0"/><geometry><sphere radius="0.023"/></geometry></collision>
  </link>
  <joint name="FR_hip_joint" type="revolute"><parent link="base_link"/><child link="FR_hip"/><origin xyz="0.1881 -0.04675 0" rpy="0 -0 0"/><axis xyz="1 0 0"/><limit lower="-0.863" upper="0.863" effort="23.7" velocity="30"/><dynamics damping="0.5" friction="0.3"/></joint>
  <joint name="FR_thigh_joint" type="revolute"><parent link="FR_hip"/><child link="FR_thigh"/><origin xyz="0 -0.08 0" rpy="0 -0 0"/><axis xyz="0 1 0"/><limit lower="-0.686" upper="4.501" effort="23.7" velocity="30"/><dynamics damping="0.5" friction="0.3"/></joint>
  <joint name="FR_calf_joint" type="revolute"><parent link="FR_thigh"/><child link="FR_calf"/><origin xyz="0 0 -0.213" rpy="0 -0 0"/><axis xyz="0 1 0"/><limit lower="-2.818" upper="-0.888" effort="35.55" velocity="30"/><dynamics damping="0.5" friction="1.0"/></joint>
  <joint name="FL_hip_joint" type="revolute"><parent link="base_link"/><child link="FL_hip"/><origin xyz="0.1881 0.04675 0" rpy="0 -0 0"/><axis xyz="1 0 0"/><limit lower="-0.863" upper="0.863" effort="23.7" velocity="30"/><dynamics damping="0.5" friction="0.3"/></joint>
  <joint name="FL_thigh_joint" type="revolute"><parent link="FL_hip"/><child link="FL_thigh"/><origin xyz="0 0.08 0" rpy="0 -0 0"/><axis xyz="0 1 0"/><limit lower="-0.686" upper="4.501" effort="23.7" velocity="30"/><dynamics damping="0.5" friction="0.3"/></joint>
  <joint name="FL_calf_joint" type="revolute"><parent link="FL_thigh"/><child link="FL_calf"/><origin xyz="0 0 -0.213" rpy="0 -0 0"/><axis xyz="0 1 0"/><limit lower="-2.818" upper="-0.888" effort="35.55" velocity="30"/><dynamics damping="0.5" friction="1.0"/></joint>
  <joint name="RR_hip_joint" type="revolute"><parent link="base_link"/><child link="RR_hip"/><origin xyz="-0.1881 -0.04675 0" rpy="0 -0 0"/><axis xyz="1 0 0"/><limit lower="-0.863" upper="0.863" effort="23.7" velocity="30"/><dynamics damping="0.5" friction="0.3"/></joint>
  <joint name="RR_thigh_joint" type="revolute"><parent link="RR_hip"/><child link="RR_thigh"/><origin xyz="0 -0.08 0" rpy="0 -0 0"/><axis xyz="0 1 0"/><limit lower="-0.686" upper="4.501" effort="23.7" velocity="30"/><dynamics damping="0.5" friction="0.3"/></joint>
  <joint name="RR_calf_joint" type="revolute"><parent link="RR_thigh"/><child link="RR_calf"/><origin xyz="0 0 -0.213" rpy="0 -0 0"/><axis xyz="0 1 0"/><limit lower="-2.818" upper="-0.888" effort="35.55" velocity="30"/><dynamics damping="0.5" friction="1.0"/></joint>
  <joint name="RL_hip_joint" type="revolute"><parent link="base_link"/><child link="RL_hip"/><origin xyz="-0.1881 0.04675 0" rpy="0 -0 0"/><axis xyz="1 0 0"/><limit lower="-0.863" upper="0.863" effort="23.7" velocity="30"/><dynamics damping="0.5" friction="0.3"/></joint>
  <joint name="RL_thigh_joint" type="revolute"><parent link="RL_hip"/><child link="RL_thigh"/><origin xyz="0 0.08 0" rpy="0 -0 0"/><axis xyz="0 1 0"/><limit lower="-0.686" upper="4.501" effort="23.7" velocity="30"/><dynamics damping="0.5" friction="0.3"/></joint>
  <joint name="RL_calf_joint" type="revolute"><parent link="RL_thigh"/><child link="RL_calf"/><origin xyz="0 0 -0.213" rpy="0 -0 0"/><axis xyz="0 1 0"/><limit lower="-2.818" upper="-0.888" effort="35.55" velocity="30"/><dynamics damping="0.5" friction="1.0"/></joint>
  <link name="imu_link"/>
  <joint name="imu_joint" type="fixed"><parent link="base_link"/><child link="imu_link"/><origin xyz="0 0 0" rpy="0 0 0"/></joint>
  <link name="lidar_link"/>
  <!-- pitched 0.1 rad (~6 deg) nose-up: the walking gait pitches the trunk ~6 deg nose-down, so the scan stays level while walking instead of hitting the floor ~3.5 m ahead -->
  <joint name="lidar_joint" type="fixed"><parent link="base_link"/><child link="lidar_link"/><origin xyz="0 0 0.12" rpy="0 -0.1 0"/></joint>
  <ros2_control name="GazeboSystem" type="system">
    <hardware><plugin>gz_ros2_control/GazeboSimSystem</plugin></hardware>
    <joint name="FR_hip_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.1</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="FR_thigh_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.9</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="FR_calf_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">-1.8</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="FL_hip_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">-0.1</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="FL_thigh_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.9</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="FL_calf_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">-1.8</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="RR_hip_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.1</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="RR_thigh_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.9</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="RR_calf_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">-1.8</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="RL_hip_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">-0.1</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="RL_thigh_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.9</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="RL_calf_joint">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">-1.8</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find go_gazebo)/config/controllers.yaml</parameters>
    </plugin>
    <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
      <odom_frame>odom</odom_frame>
      <robot_base_frame>base_link</robot_base_frame>
      <odom_publish_frequency>50</odom_publish_frequency>
      <dimensions>3</dimensions>
    </plugin>
  </gazebo>
  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on><update_rate>200</update_rate>
      <topic>imu</topic>
      <gz_frame_id>imu_link</gz_frame_id>
    </sensor>
  </gazebo>
  <gazebo reference="lidar_link">
    <sensor name="lidar" type="gpu_lidar">
      <always_on>true</always_on><update_rate>10</update_rate>
      <topic>scan</topic>
      <gz_frame_id>lidar_link</gz_frame_id>
      <lidar>
        <scan><horizontal><samples>360</samples><min_angle>-3.14159</min_angle><max_angle>3.14159</max_angle></horizontal></scan>
        <range><min>0.15</min><max>12.0</max><resolution>0.01</resolution></range>
      </lidar>
    </sensor>
  </gazebo>
</robot>
